<div class="container">
 <% if @errors %>
    <p class="errors"><%= @errors %></p>
  <% end %>

<div class="question_container">
  <a href="/vote">
  <div class='arrow-up'>
  </div>
  </a>
  <a href="/vote">
  <div class='arrow-down'>
  </div>
  </a>
    <div class="question_body">
      <h4><%= @question.title %></h4>
    </div>
      <% @q_comments.each do |comment| %>
      <p><%= comment.body %></p>
      <% end %>


    <form id="question_comment" method="post" action="/questions/<%= @question.id %>/comments">
      <input type="text" id="new_comment" name="body" placeholder="comment">
      <input type="submit" value="comment">
    </form>



</div>

<div class="answer">

  <% @answers.each do |answer| %>
    <div>
      <% if @mode == "has a best" %>
        <% if answer.id == @question.best_answer_id %>
          <img src = "<%= APP_ROOT %>/public/nick.jpg">
        <% end %>
      <% elsif @mode == "pick a best" %>
        <a href = "/answers/<%= answer.id %>/best">This Is The Best Answer I've Ever Seen!!!</a>
      <% end %>
    </div>
    <a href="/vote">
    <div class='arrow-up'>
    </div>
    </a>
    <a href="/vote">
    <div class='arrow-down'>
    </div>
    </a>
    <h4><%= answer.body %></h4>

    <% answer.comments.each do |comment| %>
      <p><%= comment.body %> </p>
    <% end %>
  <form id="answer_comment" method="post" action="/answers/<%= answer.id %>/comments">
    <input type="text" id="new_comment" name="body" placeholder="comment">
    <input type="submit" value="comment">
  </form>
  <% end %>


</div>

<div class="new_answer">
  <form id="answer_comment" method="post" action="/questions/<%= @question.id %>/answers">
    <input type="text" id="new_comment" name="body" placeholder="new answer">
    <input type="submit" value="answer">
  </form>




</div>




</div>

