<div class="container">
  <% if @errors %>
    <p class="errors"><%= @errors %></p>
  <% end %>



<div class="question_container">
  <a href="/questions/<%= @question.id %>/votes/1">
    <div class='arrow-up'>
    </div>
  </a>

<div class="vote_count">
  <p>15</p>
</div>


  <a href="/questions/<%= @question.id %>/votes/-1">
    <div class='arrow-down'>
    </div>
  </a>

<div class="question_body">
  <h4><%= @question.title %></h4>
    </div>
      <% @q_comments.each do |comment| %>
      <p><%= comment.body %></p>
      <% end %>


    <form id="question_comment" method="post" action="/questions/<%= @question.id %>/comments">
      <input type="text" id="new_comment" name="body" placeholder="comment">
      <input type="submit" value="comment">
    </form>



</div>

<div class="answer">

  <% @answers.each do |answer| %>
    <a href="/vote">
    <div class='arrow-up'>
    </div>
    </a>

    <div class="vote_count">
      <p>15</p>
    </div>
    <a href="vote/">
    <div class='arrow-down'>
    </div>
    </a>
    <h4><%= answer.body %></h4>

    <% answer.comments.each do |comment| %>
      <p><%= comment.body %> </p>
    <% end %>
  <form id="answer_comment" method="post" action="/answers/<%= answer.id %>/comments">
    <input type="text" id="new_comment" name="body" placeholder="comment">
    <input type="submit" value="comment">
  </form>
  <% end %>


</div>

<div class="new_answer">
  <form id="answer_comment" method="post" action="/questions/<%= @question.id %>/answers">
    <input type="text" id="new_comment" name="body" placeholder="new answer">
    <input type="submit" value="answer">
  </form>




</div>




</div>

